## Objective
### Performing basic operations of python and coding
### Data Structure - 
1. All basic data types, their properties, pros and cons, when and why to use and prebuilt-functions available performed

#### Four types of data structures
1. List - []
2. Dictionary - {key : item}
3. Tuples - ()
4. Set - {}

#### lets go through one by one
## List - []
 ordered/indexed and changeable. Allows duplicate members.

In [63]:
l1 = [1,2,6,2,3,8]

In [64]:
l1[:]

[1, 2, 6, 2, 3, 8]

In [65]:
l1[2:4]
# as you can see in range area first number is considered and last limit is not

[6, 2]

In [66]:
l1[2]

6

In [67]:
l1.append(66)
print(l1)

[1, 2, 6, 2, 3, 8, 66]

In [68]:
print(l1.pop(),l1)
#last element is poped

66 [1, 2, 6, 2, 3, 8]

In [69]:
len(l1)

6

In [70]:
l2 = [1,4,9,2,5,[1,2,4],[3,55,1]]

In [71]:
l2[5][1]
#nested indexing

2

In [72]:
l1.sort()

In [73]:
l1

[1, 2, 2, 3, 6, 8]

In [74]:
l1.reverse()

In [75]:
l1

[8, 6, 3, 2, 2, 1]

In [76]:
l1.remove(2)
# removes all matching instances

In [77]:
l1

[8, 6, 3, 2, 1]

In [78]:
d1 = {"r1": 2,"r3": 3}

In [79]:
l3 = [1,2,3,"yup i am str",d1]

In [80]:
l3
#can store other data structures too

[1, 2, 3, 'yup i am str', {'r1': 2, 'r3': 3}]

In [81]:
l3[4]['r1']

2

In [82]:
l3[4]['r1'] = 33

In [83]:
l3

[1, 2, 3, 'yup i am str', {'r1': 33, 'r3': 3}]

### Notes  -
- As the sets are indexed and allow duplicates great for storing data
    part of item of set can reached by value or by index.
- can store multiple types of data types in itself.including other **DATA-STRUCTRES** as Dict ,etc

**this makes list a best option as a data structure to store things when there are no other conditions**

## tuples
indexed , unchangeble/unmutable(execpt can be overwritten) , allows duplicate

In [84]:
t1 = (1,2,3)
t2 = ("a","b","c")

In [85]:
t3 = t1+t2

In [86]:
t3

(1, 2, 3, 'a', 'b', 'c')

In [87]:
t3[0:4]

(1, 2, 3, 'a')

t3[2] = 5
<br>gives TypeError: 'tuple' object does not support item assignment

t3.append(6)
<br>gives - AttributeError: 'tuple' object has no attribute 'append'

so u cant append using function <br>
but u can add elements by overwritting a tuple with new added tuple with "+" operator

In [88]:
t3 = t3 + ("add","it")

In [89]:
t3

(1, 2, 3, 'a', 'b', 'c', 'add', 'it')

In [90]:
t3[6]

'add'

In [91]:
t4 = (1,1,1,1,2,2,2,3)

In [92]:
t4

(1, 1, 1, 1, 2, 2, 2, 3)

#### Notes - 
So tuple is like list structure... with exception that once created u can't change anything ... except **overwriting** it to change te tuple 
where can these be used - 
1. Tuples are more memory efficient than the lists. - 
    tuples are immutable and fixed size, Python allocates just the minimum memory block required for the data.
2. Tuples are used whenever you want to return multiple results from a function.
3. Since they're immutable, they can be used as keys for a dictionary (lists can't).

In [93]:
#2 point example
def tuptup():
    a =19
    b =47
    return (a,b)

x,y = tuptup()

print(x,y)

19 47

In [94]:
#3 point example
coordinates = { (0,0) : 100, (1,1) : 200}
#coordinates1 = { [0,0] : 100, [1,1] : 200}
#coordinate1 gives error -> TypeError: unhashable type: 'list'

In [95]:
coordinates[(0,0)]

100

### Dictionaries
Dictionary is indexed by key (so indexing of 0 ,1 ,2 is not present like list but the keys in itself are indexing the vlues
                                so its called indexed data structures)
 changeble\mutable , but no **repeated elements** allowed
- by no repeated values..it means - key defined for a dictionary needs to be unique

In [96]:
dub ={"car":"Baleno","model":"GT500","year":2020}

In [97]:
dub["car"]

'Baleno'

there are many in-built functions for dictionaries that can be used as ->

In [98]:
dub.items()

dict_items([('car', 'Baleno'), ('model', 'GT500'), ('year', 2020)])

In [99]:
dub.keys()

dict_keys(['car', 'model', 'year'])

In [100]:
dub.values()

dict_values(['Baleno', 'GT500', 2020])

In [101]:
dub1 = dub.copy()
# copy command common all other dataframe as well

In [102]:
dub1.popitem()

('year', 2020)

In [103]:
dub1

{'car': 'Baleno', 'model': 'GT500'}

In [104]:
dub1.clear()

In [105]:
dub1
# why.... but why would you do any of that

{}

In [106]:
for i in dub.items():
    print(i,type(i))

('car', 'Baleno') <class 'tuple'>
('model', 'GT500') <class 'tuple'>
('year', 2020) <class 'tuple'>

notes - 
Great data structure to store base relation ship between two groups of dataset

## sets

**unindexed,mutable,doesn't allow duplicates**<br>**even though unidexed they are iterable**

In [107]:
a = {1,2,35,63,1,2}

In [108]:
a
#only first instances of repeated value is considered

{1, 2, 35, 63}

In [109]:
len(a)

4

a[0] <br> 
gives error->TypeError: 'set' object is not subscriptable

In [110]:
# iterable though
for i in a:
    print(i)

1
2
35
63

In [111]:
a.add(5)
print(a)

{1, 2, 35, 5, 63}

In [112]:
a.remove(5)
print(a)

{1, 2, 35, 63}

In [113]:
a.pop()
#first element is poped
#where as last element is poped in list ..... interesting

1

In [114]:
a.clear()
print(a)
# why.. why would you any of that

set()

### .clear() Goals:
- Release Memory: If you have a large list that fills your memoryâ€”such as a huge data set or a large file read via readlines()â€”and you donâ€™t need it anymore, you can immediately release the memory with list.clear(). Especially in interactive mode, Python doesnâ€™t know which variable you still need â€“ so it must keep all variables till session end. But if you call list.clear(), it can release the memory for other processing tasks.
- Clear Multiple List Variables: Multiple variables may refer to the same list object. If you want to reflect that the list is now empty, you can either call list.clear() on one variable and all other variables will see it, or you must call var1 = [], var2 = [], ..., varn = [] for all variables. This can be a pain if you have many variables.

#### Notes - 
sets are like lists but no duplicates and no indexing but iterable<br>
sooo... like human putting things in a bag unoredered and no same things allowed
maybe u can use to dyanamically store primary key values

### Why sets -
it makes sets highly useful to efficiently **remove duplicate values from a list or tuple** 
<br>to perform common math operations like **unions and intersections.**

In [115]:
a = [1,1,1,1,1,2,2,2,2,2,33,33,3,3,3]

In [116]:
a = list(set(a))
print(a)

[1, 2, 3, 33]

In [117]:
x = {1,2,3,4,5}
y = {3,4,5,6,7}

In [118]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7}

In [119]:
x.intersection(y)

{3, 4, 5}

In [120]:
x.difference(y)

{1, 2}

In [121]:
x.symmetric_difference(y)

{1, 2, 6, 7}

## Bonus extra dataset - Frozensets
Set but is unmutable\immutable.... imune to mutablility

In [122]:
# Initialize a frozenset
immutableSet = frozenset([1,2,3,4])

In [123]:
immutableSet

frozenset({1, 2, 3, 4})

 now above set is unmutable and you can use it to intersection and other things with other sets

then there are user definrd data structures like Stack(first in last out),ques(first in first out),linked list(value and poitners), trees(pointer to left leaf ,value, pointerto right leaf),hash map (key value) ,etc

#### Dataframe

Solve both in Python

Question 1)
 
6 columns : date, customerid, product_quantity, sales, region, transaction_id. Which customer id bought maximum products? Tablename is questions.

Question 2)

Get sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

Question 3)

Get count of transactions by region where customers had greater than 10000 $ sales and less than 10000 $ sales. (hint: create 2 columns for getting count of transaction ids - one where customers had greater than 10000 $ sales and another where customers had less than 10000 $ sales)

In [96]:
import pandas as pd
import numpy as np
import datetime

In [120]:
df = pd.read_excel("G:\Github\DS-assignments-python\Python Basics\questions.xlsx")

In [121]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id
0,2021-10-09,CC1,3,33,E,1
1,2021-10-09,CC1,4,22,A,2
2,2020-12-26,CC1,2,111,F,3
3,2020-12-27,CC2,1,22,G,4
4,2020-12-28,CC2,4,11000,G,5
5,2020-12-29,CC3,2,33,S,6
6,2020-12-30,CC3,1,22,S,7
7,2021-10-09,CC4,3,11000,E,8
8,2021-10-10,CC4,4,33,R,9

In [99]:
df.shape

(9, 6)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              9 non-null      datetime64[ns]
 1   customerid        9 non-null      object
 2   product_quantity  9 non-null      int64
 3   price_per_item    9 non-null      int64
 4   region            9 non-null      object
 5   transaction_id    9 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 560.0+ bytes

In [101]:
np.max([1,2,3,4])

4

In [102]:
# customer's id who bought maximum products
df[df["product_quantity"] == np.max(df["product_quantity"])].loc[:,"customerid"]

1    CC1
4    CC2
8    CC4
Name: customerid, dtype: object

In [119]:
#Sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

#each table row shows one transaction that was done with product quantity sold 
# so its sum of all product qantity in the gien time period

In [125]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [132]:
df["Sales"] = df["product_quantity"]*df["price_per_item"]

In [133]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id,Sales
0,2021-10-09,CC1,3,33,E,1,99
1,2021-10-09,CC1,4,22,A,2,88
2,2020-12-26,CC1,2,111,F,3,222
3,2020-12-27,CC2,1,22,G,4,22
4,2020-12-28,CC2,4,11000,G,5,44000
5,2020-12-29,CC3,2,33,S,6,66
6,2020-12-30,CC3,1,22,S,7,22
7,2021-10-09,CC4,3,11000,E,8,33000
8,2021-10-10,CC4,4,33,R,9,132

In [134]:
#approch
#filtered_df = df.loc[(df['date'] >= '2020-12-21') & (df['date'] <= '2020-12-27')]
# Display the df for christmas eve and grouping by region to count the product id
#filtered_df.groupby('region').sum()

        product_quantity  price_per_item  transaction_id  Sales
region
F                      2             111               3    222
G                      1              22               4     22

In [137]:
df.loc[(df['date'] >= '2020-12-21') & (df['date'] <= '2020-12-27')].loc[:,["region","Sales"]].groupby('region').sum()

        Sales
region
F         222
G          22

In [ ]:
#Get count of transactions by region where customers had greater than 10000  ð‘ ð‘Žð‘™ð‘’ð‘  ð‘Žð‘›ð‘‘ ð‘™ð‘’ð‘ ð‘  ð‘¡â„Žð‘Žð‘› 10000  sales. 
#(hint: create 2 columns for getting count of transaction ids - one where customers had greater than 10000  
#ð‘ ð‘Žð‘™ð‘’ð‘  ð‘Žð‘›ð‘‘ ð‘Žð‘›ð‘œð‘¡â„Žð‘’ð‘Ÿ ð‘¤â„Žð‘’ð‘Ÿð‘’ ð‘ð‘¢ð‘ ð‘¡ð‘œð‘šð‘’ð‘Ÿð‘  â„Žð‘Žð‘‘ ð‘™ð‘’ð‘ ð‘  tâ„Žð‘Žð‘› 10000  sales)

In [140]:
df["below_10k_sales"] = pd.Series(np.where(df["Sales"]<10000,1,0))
df["above_10k_sales"] = pd.Series(np.where(df["Sales"]>10000,1,0))

In [141]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id,Sales,below_10k_sales,above_10k_sales
0,2021-10-09,CC1,3,33,E,1,99,1,0
1,2021-10-09,CC1,4,22,A,2,88,1,0
2,2020-12-26,CC1,2,111,F,3,222,1,0
3,2020-12-27,CC2,1,22,G,4,22,1,0
4,2020-12-28,CC2,4,11000,G,5,44000,0,1
5,2020-12-29,CC3,2,33,S,6,66,1,0
6,2020-12-30,CC3,1,22,S,7,22,1,0
7,2021-10-09,CC4,3,11000,E,8,33000,0,1
8,2021-10-10,CC4,4,33,R,9,132,1,0

In [ ]:
#df[df["below_10k_sales"]==1].groupby("region").sum()

In [153]:
df[df["below_10k_sales"]==1].loc[:,["region","below_10k_sales"]].groupby("region").sum()

        below_10k_sales
region
A                     1
E                     1
F                     1
G                     1
R                     1
S                     2

In [154]:
df[df["above_10k_sales"]==1].loc[:,["region","above_10k_sales"]].groupby("region").sum()

        above_10k_sales
region
E                     1
G                     1