## Objective
### Performing basic operations of python and coding
### Data Structure - 
1. All basic data types, their properties, pros and cons, when and why to use and prebuilt-functions available performed
2. Some Python coding problems
3. Deep and shallow copy
4. Dataframe manipulation
5. Random clutch Function practice

#### Four types of data structures
1. List - []
2. Dictionary - {key : item}
3. Tuples - ()
4. Set - {}

#### lets go through one by one
## List - []
 ordered/indexed and changeable. Allows duplicate members.

In [250]:
l1 = [1,2,6,2,3,8]

In [251]:
l1[:]

[1, 2, 6, 2, 3, 8]

In [252]:
l1[2:4]
# as you can see in range area first number is considered and last limit is not

[6, 2]

In [253]:
l1[2]

6

In [254]:
l1.append(66)
print(l1)

[1, 2, 6, 2, 3, 8, 66]

In [255]:
l1.extend([2,3])
l1

[1, 2, 6, 2, 3, 8, 66, 2, 3]

In [258]:
l1.count(2)

3

In [256]:
print(l1.pop(),l1)
#last element is poped

3 [1, 2, 6, 2, 3, 8, 66, 2]

In [257]:
len(l1)

8

In [77]:
l2 = [1,4,9,2,5,[1,2,4],[3,55,1]]

In [78]:
l2[5][1]
#nested indexing

2

In [79]:
l1.sort()

In [80]:
l1

[1, 2, 2, 3, 6, 8]

In [81]:
l1.reverse()

In [82]:
l1

[8, 6, 3, 2, 2, 1]

In [83]:
l1.remove(2)
# removes all matching instances

In [84]:
l1

[8, 6, 3, 2, 1]

In [85]:
d1 = {"r1": 2,"r3": 3}

In [86]:
l3 = [1,2,3,"yup i am str",d1]

In [87]:
l3
#can store other data structures too

[1, 2, 3, 'yup i am str', {'r1': 2, 'r3': 3}]

In [88]:
l3[4]['r1']

2

In [89]:
l3[4]['r1'] = 33

In [90]:
l3

[1, 2, 3, 'yup i am str', {'r1': 33, 'r3': 3}]

In [195]:
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
print(weekdays.count('mon'))

3

In [197]:
days = " ".join(weekdays)
days

'sun mon tue wed thu fri sun mon mon'

In [198]:
weekd = days.split(" ")
weekd

['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sun', 'mon', 'mon']

In [352]:
counts_d = dict()
counts_dl = [[x,weekdays.count(x)] for x in set(weekdays)]
print(counts_dl)
count_dic = dict(counts_dl)
print(count_dic)

[['sun', 2], ['tue', 1], ['thu', 1], ['fri', 1], ['wed', 1], ['mon', 3]]
{'sun': 2, 'tue': 1, 'thu': 1, 'fri': 1, 'wed': 1, 'mon': 3}

In [353]:
#sets to avoid repetetion
counts_d = dict()
counts_dl = [[x,weekdays.count(x)] for x in weekdays]
print(counts_dl)
count_dic = dict(counts_dl)
print(count_dic)

[['sun', 2], ['mon', 3], ['tue', 1], ['wed', 1], ['thu', 1], ['fri', 1], ['sun', 2], ['mon', 3], ['mon', 3]]
{'sun': 2, 'mon': 3, 'tue': 1, 'wed': 1, 'thu': 1, 'fri': 1}

### MVP things.... - > enumerate

In [205]:
subjects = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subjects):
    print(i, subject)

0 Python
1 Interview
2 Questions

### Notes  -
- As the sets are indexed and allow duplicates great for storing data
    part of item of set can reached by value or by index.
- can store multiple types of data types in itself.including other **DATA-STRUCTRES** as Dict ,etc

**this makes list a best option as a data structure to store things when there are no other conditions**

## tuples
indexed , unchangeble/unmutable(execpt can be overwritten) , allows duplicate

In [357]:
t1 = (1,2,3)
t2 = ("a","b","c")

In [358]:
t3 = t1+t2

In [359]:
t3

(1, 2, 3, 'a', 'b', 'c')

In [94]:
t3[0:4]

(1, 2, 3, 'a')

t3[2] = 5
<br>gives TypeError: 'tuple' object does not support item assignment

t3.append(6)
<br>gives - AttributeError: 'tuple' object has no attribute 'append'

so u cant append using function <br>
but u can add elements by overwritting a tuple with new added tuple with "+" operator

In [360]:
t3 = t3 + ("bbadd","it")

In [361]:
t3

(1, 2, 3, 'a', 'b', 'c', 'bbadd', 'it')

In [356]:
t3[6]

'add'

In [98]:
t4 = (1,1,1,1,2,2,2,3)

In [99]:
t4

(1, 1, 1, 1, 2, 2, 2, 3)

#### Notes - 
So tuple is like list structure... with exception that once created u can't change anything ... except **overwriting** it to change te tuple 
where can these be used - 
1. Tuples are more memory efficient than the lists. - 
    tuples are immutable and fixed size, Python allocates just the minimum memory block required for the data.
2. Tuples are used whenever you want to return multiple results from a function.
3. Since they're immutable, they can be used as keys for a dictionary (lists can't).

In [100]:
#2 point example
def tuptup():
    a =19
    b =47
    return (a,b)

x,y = tuptup()

print(x,y)

19 47

In [101]:
#3 point example
coordinates = { (0,0) : 100, (1,1) : 200}
#coordinates1 = { [0,0] : 100, [1,1] : 200}
#coordinate1 gives error -> TypeError: unhashable type: 'list'

In [102]:
coordinates[(0,0)]

100

### Dictionaries
Dictionary is indexed by key (so indexing of 0 ,1 ,2 is not present like list but the keys in itself are indexing the vlues
                                so its called indexed data structures)
 changeble\mutable , but no **repeated KEYS** allowed
- by no repeated values..it means - key defined for a dictionary needs to be unique

In [103]:
dub ={"car":"Baleno","model":"GT500","year":2020}

In [104]:
dub["car"]

'Baleno'

In [262]:
#adding elements
dub["Number"] = 36
dub

{'car': 'Baleno', 'model': 'GT500', 'year': 2020, 'Number': 36}

there are many in-built functions for dictionaries that can be used as ->

In [105]:
dub.items()

dict_items([('car', 'Baleno'), ('model', 'GT500'), ('year', 2020)])

In [106]:
dub.keys()

dict_keys(['car', 'model', 'year'])

In [107]:
dub.values()

dict_values(['Baleno', 'GT500', 2020])

In [260]:
dub1 = dub.copy()
dub1["car"] ="mercelago"
print(dub,dub1)
# copy command common all other dataframe as well

{'car': 'Baleno', 'model': 'GT500', 'year': 2020} {'car': 'mercelago', 'model': 'GT500', 'year': 2020}

In [109]:
dub1.popitem()

('year', 2020)

In [110]:
dub1

{'car': 'Baleno', 'model': 'GT500'}

In [111]:
dub1.clear()

In [112]:
dub1
# why.... but why would you do any of that

{}

In [113]:
for i in dub.items():
    print(i,type(i))

('car', 'Baleno') <class 'tuple'>
('model', 'GT500') <class 'tuple'>
('year', 2020) <class 'tuple'>

notes - 
Great data structure to store base relation ship between two groups of dataset

## sets

**unindexed,mutable,doesn't allow duplicates**<br>**even though unidexed they are iterable**

In [212]:
[i for i in range(10,1,-2)]

[10, 8, 6, 4, 2]

In [264]:
a = {1,2,35,63,1,2}

In [265]:
a
#only first instances of repeated value is considered

{1, 2, 35, 63}

In [116]:
len(a)

4

a[0] <br> 
gives error->TypeError: 'set' object is not subscriptable

In [117]:
# iterable though
for i in a:
    print(i)

1
2
35
63

In [266]:
a.add(5)
print(a)

{1, 2, 35, 5, 63}

In [119]:
a.remove(5)
print(a)

{1, 2, 35, 63}

In [120]:
a.pop()
#first element is poped
#where as last element is poped in list ..... interesting

1

In [121]:
a.clear()
print(a)
# why.. why would you do any of that

set()

### .clear() Goals:
- Release Memory: If you have a large list that fills your memory—such as a huge data set or a large file read via readlines()—and you don’t need it anymore, you can immediately release the memory with list.clear(). Especially in interactive mode, Python doesn’t know which variable you still need – so it must keep all variables till session end. But if you call list.clear(), it can release the memory for other processing tasks.
- Clear Multiple List Variables: Multiple variables may refer to the same list object. If you want to reflect that the list is now empty, you can either call list.clear() on one variable and all other variables will see it, or you must call var1 = [], var2 = [], ..., varn = [] for all variables. This can be a pain if you have many variables.

#### Notes - 
sets are like lists but no duplicates and no indexing but iterable<br>
sooo... like human putting things in a bag unoredered and no same things allowed
maybe u can use to dyanamically store primary key values

### Why sets -
it makes sets highly useful to efficiently **remove duplicate values from a list or tuple** 
<br>to perform common math operations like **unions and intersections.**

<br>Thus when asked to give common elements of to group of values , sets are the best

In [362]:
a = [2,1,1,1,2,1,1,2,2,2,2,2,33,33,3,3,3]

In [363]:
a = list(set(a))
print(a)

[1, 2, 3, 33]

In [364]:
x = {1,2,3,4,5}
y = {3,4,5,6,7}

In [268]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7}

In [269]:
x.intersection(y)

{3, 4, 5}

In [270]:
x.difference(y)

{1, 2}

In [271]:
x.symmetric_difference(y)

{1, 2, 6, 7}

Goodo example

In [345]:
s1=input("Enter first string:")
s2=input("Enter second string:")
a=list(set(s1)&set(s2))
print("The common letters are:")
for i in a:
    print(i)

Enter first string:bakaiii
Enter second string:anikii
The common letters are:
i
a
k

## Bonus extra dataset - Frozensets
Set but is unmutable\immutable.... imune to mutablility

In [129]:
# Initialize a frozenset
immutableSet = frozenset([1,2,3,4])

In [130]:
immutableSet

frozenset({1, 2, 3, 4})

 now above set is unmutable and you can use it to intersection and other things with other sets

then there are user definrd data structures like Stack(first in last out),ques(first in first out),linked list(value and poitners), trees(pointer to left leaf ,value, pointerto right leaf),hash map (key value) ,etc

-----------------------

# Some Python Interview coding

In [131]:
#Fast duplicate removing
a = [1,4,4,5]
a = list(set(a))
a

[1, 4, 5]

In [132]:
#star tower printage
for i in range(10):
    print(" "*(10-i),"*"+i*2*"*")

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************

In [343]:
#counting vowels
string=input("Enter string:")
vowels=0
for i in string:
    if(i in ['a' ,'e' ,'i' ,'o','u' ,'A' ,'E','I','O','U']):
        vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:bankaiiii
Number of vowels are:
6

In [133]:
print("*"*2)

**

In [134]:
#reverse shortcut??
a[::-1]
#were defining step here as -1 so python does its intelligent thing and gives us this

[5, 4, 1]

In [366]:
a=[1,2,3,4,5,6,7]

In [368]:
#getting last two elements
a[-2:]

[6, 7]

In [136]:
# how lamda also known as anonymous function works

a = lambda x, y: x * y
print(a(4, 3))

## used in mapping like- 
b = list(map(lambda n: n * 2, [1, 2, 3, 4, 5]))
# map takes first argue as function to be applied on all elemnts of the second argument
print(b)

12
[2, 4, 6, 8, 10]

In [149]:
# Global and Local Scope
p=2
def add():
    qr=3
    r=p+qr
    print(r)
add()

5

In [150]:
qr
#error cause q in local namespcae

NameError: name 'qr' is not defined

In [285]:
#__init__ constructor in classes

class Bird:
    @classmethod
    def __init__(self,name,color,spd,wngspn):
        self.name = name
        self.color = color
        self.spd = spd*0.27
        self.wngspn = wngspn
        
    @staticmethod
    def secondname(self,name):
        self.full_name = self.name + " " + name.capitalize()

In [286]:
beep = Bird("Parrot","Green",40,5)

In [289]:
Bird.secondname(beep,"great")

In [290]:
beep.full_name

'Parrot Great'

In [148]:
print(beep.name,"with speed",beep.spd,"m\s speed")

Parrot with speed 10.8 m\s speed

In [ ]:
#help("class")

In [151]:
stg='abCD'
print(stg.capitalize())
print(stg)
print(stg.lower())

Abcd
abCD
abcd

In [291]:
AX = dict(zip([1,22,3,4],["a","b","c","d"]))
AX

{1: 'a', 22: 'b', 3: 'c', 4: 'd'}

In [152]:
A0 = dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
A1 = range(10)
A0

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [153]:
[s for s in A0]

['a', 'b', 'c', 'd', 'e']

In [154]:
A3 = sorted([A0[s] for s in A0])
A3

[1, 2, 3, 4, 5]

In [155]:
A5 = {i:i*i for i in A1}
print(A5,type(A5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81} <class 'dict'>

In [156]:
A6 = [[i,i*i] for i in A1]
A6

[[0, 0],
 [1, 1],
 [2, 4],
 [3, 9],
 [4, 16],
 [5, 25],
 [6, 36],
 [7, 49],
 [8, 64],
 [9, 81]]

In [163]:
#prime number dtetction
a=int(input("enter number"))
if a>2:
    for x in range(2,a):
        if(a%x)==0:
            print("not prime")
            break
        elif x == a-1:
            print("Prime")
elif a==1:
    print("not prime")
elif a==2:
    print("Prime")

enter number9
not prime

In [165]:
import numpy as np

In [292]:
# fiboncaii series
c = int(input("enter number"))
list1 = [0,1]
for i in range(2,c):
    sums = np.sum(list1[-2:])
    list1.append(sums)

list1

enter number10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [190]:
#yeild function
def testgen(index):
    weekdays = ['sun','mon','tue','wed','thu','fri','sat']
    yield weekdays[index]
    yield weekdays[index+1]
    
day = testgen(1)

In [192]:
day

In [188]:
print (next(day), next(day))

mon tue

In [194]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat']
listAsString = '-'.join(weekdays)
listAsString

'sun-mon-tue-wed-thu-fri-sat'

In [246]:
#Reverse the number - 
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    print("dig-",dig)
    rev=rev*10+dig
    print("rev-", rev)
    print("n-",n)
    n=n//10
    #n=n//10 is called floor division so this opreration just removes unit place digit from the number
    print("n-",n)
print("The reverse of the number:",rev)

Enter number: 678
dig- 8
rev- 8
n- 678
n- 67
dig- 7
rev- 87
n- 67
n- 6
dig- 6
rev- 876
n- 6
n- 0
The reverse of the number: 876

### args and kwargs
- *args and ** kwargs are special keyword which allows function to take variable length argument.
- *args passes variable number of non-keyworded arguments list and on which operation of the list can be performed.
- ** kwargs passes variable number of keyword arguments dictionary to function on which operation of a dictionary can be performed.

Using ** arg
<br>In the function, we should use an asterisk * before the parameter name to pass variable length arguments.
<br>The arguments are passed as a **tuple and these passed arguments make tuple inside the function with same name**
<br>as the parameter excluding asterisk *

In [294]:
def adder(*num):
    sum = 0
    print(type(num),num)
    for n in num:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

<class 'tuple'> (3, 5)
Sum: 8
<class 'tuple'> (4, 5, 6, 7)
Sum: 22
<class 'tuple'> (1, 2, 3, 5, 6)
Sum: 17

** kwargs<br>
Python passes variable length non keyword argument to function using *args but we cannot use this to pass keyword argument. For this problem Python has got a solution called ** kwargs, it allows us to pass the variable length of keyword arguments to the function.
<br>
In the function, we use the double asterisk ** before the parameter name to denote this type of argument. The arguments are passed as a dictionary and these arguments make a dictionary inside function with name same as the parameter excluding double asterisk **.

In [293]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=11111222222)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 11111222222

In [297]:
dict1 = {}
dict1["Firstname"]="Sita"
dict1

{'Firstname': 'Sita'}

To check if its armstrong number
<br> armstong number are those whose sum of cube of individual digit is the number itself

In [336]:
n=int(input("Enter any number: "))
a=list(map(int,str(n)))
print(a)
b=list(map(lambda x:x**3,a))
print(b)
if(sum(b)==n):
    print("The number is an armstrong number. ")
else:
    print("The number isn't an arsmtrong number. ")

Enter any number: 371
[3, 7, 1]
[27, 343, 1]
The number is an armstrong number.

In [339]:
print(4^3,4**3)

7 64

In [350]:
#How yeild works
# A Python program to generate squares from 1
# to 100 using yield and therefore generator
  
# An infinite generator function that prints
# next square number. It starts with 1
def nextSquare():
    i = 1
  
    # An Infinite loop to generate squares 
    while True:
        yield i*i                
        i += 1  # Next execution resumes 
                # from this point     
  
# Driver code to test above generator 
# function
for num in nextSquare():
    if num > 100:
         break    
    print(num)

1
4
9
16
25
36
49
64
81
100

### shallow and deep copy

#### Shallow Copy deep dive

In [213]:
#shallow
a = [1,2,3,4,5]
b = a.copy()

In [214]:
b

[1, 2, 3, 4, 5]

In [215]:
b[1]=33

In [216]:
a[0] = 11

In [217]:
b

[1, 33, 3, 4, 5]

In [218]:
a

[11, 2, 3, 4, 5]

In [347]:
s = ["my", "name", "is"]
#d = ["what","is","name"]
d= s.copy()
d

['my', 'name', 'is']

In [349]:
d[0]="nani"
print(s)
print(d)

['my', 'name', 'is']
['nani', 'name', 'is']

So for normal list changes in either elements doesn't affect other
<br>**NOW NOW**

In [219]:
x = [[1,2,3],[4,5,6]]
y = x.copy()

In [220]:
y

[[1, 2, 3], [4, 5, 6]]

In [221]:
y[1][1]=33

In [222]:
x[0][0] = 11

In [223]:
x

[[11, 2, 3], [4, 33, 6]]

In [224]:
y

[[11, 2, 3], [4, 33, 6]]

Now changes in one directly changes other.... whaattttt

In [225]:
y[0] = 13

In [226]:
y

[13, [4, 33, 6]]

In [227]:
x

[[11, 2, 3], [4, 33, 6]]

haha... now x doen't change...<br> why? reason is given belw

In [228]:
type(a[0])

int

In [229]:
type(x[0])

list

Shallow copy:
- It copies the first layer of  the objects. It means changes made to a copy of object may reflect in the original object.
	- So by first layer ..it means if the original object contains another objects... which means original object stores reference to other object but not item itself
	- So when it gets copied the refrences also gets copied with base structure. thus any changes in copy object also changes for original
	- BUT if the original object contains ITEMS(numbers,letters) then this first layer\item are copied... and now changing copied object doesn't affect orignal
- It is implemented using “copy()” function.
- It makes execution of a program faster compared to deep copy. cause deep completely copies structures and recursively fills data in new structures with values it finds **deep** in orginal

In [230]:
# Watch this

In [231]:
x.append([3,4,5])

In [232]:
x

[[11, 2, 3], [4, 33, 6], [3, 4, 5]]

In [233]:
y

[13, [4, 33, 6]]

Deep copy just copies completely evrything recursively
- Everything is done on new Memory location

In [234]:
import copy

In [235]:
b = copy.deepcopy(a)

In [236]:
a

[11, 2, 3, 4, 5]

In [237]:
b[3]=99

In [238]:
a

[11, 2, 3, 4, 5]

In [239]:
b

[11, 2, 3, 99, 5]

In [240]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'
print(names1)
print(names2)
print(names3)

['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']

## DataFrame by default does DEEP COPY

## Some datadrame manipulations

Solve in Python

Question 1)6 columns : date, customerid, product_quantity, sales, region, transaction_id. Which customer id bought maximum products? Tablename is questions.

Question 2)
Get sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

Question 3)
Get count of transactions by region where customers had greater than 10000 $ sales and less than 10000 $ sales. (hint: create 2 columns for getting count of transaction ids - one where customers had greater than 10000 $ sales and another where customers had less than 10000 $ sales)

In [298]:
import pandas as pd
import numpy as np
import datetime

In [299]:
df = pd.read_excel("G:\Github\DS-assignments-python\Python Basics\questions.xlsx")

In [300]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id
0,2021-10-09,CC1,3,33,E,1
1,2021-10-09,CC1,4,22,A,2
2,2020-12-26,CC1,2,111,F,3
3,2020-12-27,CC2,1,22,G,4
4,2020-12-28,CC2,4,11000,G,5
5,2020-12-29,CC3,2,33,S,6
6,2020-12-30,CC3,1,22,S,7
7,2021-10-09,CC4,3,11000,E,8
8,2021-10-10,CC4,4,33,R,9

In [301]:
df.shape

(9, 6)

In [302]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              9 non-null      datetime64[ns]
 1   customerid        9 non-null      object
 2   product_quantity  9 non-null      int64
 3   price_per_item    9 non-null      int64
 4   region            9 non-null      object
 5   transaction_id    9 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 560.0+ bytes

In [306]:
np.max([1,2,3,4])

4

In [307]:
max([1,2,3,4])

4

#### customer's id who bought maximum products

In [329]:

df[df["product_quantity"] == np.max(df["product_quantity"])].loc[:,"customerid"]

1    CC1
4    CC2
8    CC4
Name: customerid, dtype: object

#### Sales during Christmas period (21 dec 2020 - 27 dec 2020) by region.

**each table row shows one transaction that was done with product quantity sold**
<br>**so its sum of all product qantity in the given time period**

In [309]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [310]:
df["Sales"] = df["product_quantity"]*df["price_per_item"]

In [311]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id,Sales
0,2021-10-09,CC1,3,33,E,1,99
1,2021-10-09,CC1,4,22,A,2,88
2,2020-12-26,CC1,2,111,F,3,222
3,2020-12-27,CC2,1,22,G,4,22
4,2020-12-28,CC2,4,11000,G,5,44000
5,2020-12-29,CC3,2,33,S,6,66
6,2020-12-30,CC3,1,22,S,7,22
7,2021-10-09,CC4,3,11000,E,8,33000
8,2021-10-10,CC4,4,33,R,9,132

In [312]:
#approch
#filtered_df = df.loc[(df['date'] >= '2020-12-21') & (df['date'] <= '2020-12-27')]
# Display the df for christmas eve and grouping by region to count the product id
#filtered_df.groupby('region').sum()

In [313]:
df.loc[(df['date'] >= '2020-12-21') & (df['date'] <= '2020-12-27')].loc[:,["region","Sales"]].groupby('region').sum()

        Sales
region
F         222
G          22

#### Get count of transactions by region where customers had greater than 10000  𝑠𝑎𝑙𝑒𝑠 𝑎𝑛𝑑 𝑙𝑒𝑠𝑠 𝑡ℎ𝑎𝑛 10000  sales. 
**(hint: create 2 columns for getting count of transaction ids - one where customers had greater than 10000<br> 
#𝑠𝑎𝑙𝑒𝑠 𝑎𝑛𝑑 𝑎𝑛𝑜𝑡ℎ𝑒𝑟 𝑤ℎ𝑒𝑟𝑒 𝑐𝑢𝑠𝑡𝑜𝑚𝑒𝑟𝑠 ℎ𝑎𝑑 𝑙𝑒𝑠𝑠 tℎ𝑎𝑛 10000  sales)**

In [314]:
df["below_10k_sales"] = pd.Series(np.where(df["Sales"]<10000,1,0))
df["above_10k_sales"] = pd.Series(np.where(df["Sales"]>10000,1,0))

In [315]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id,Sales,below_10k_sales,above_10k_sales
0,2021-10-09,CC1,3,33,E,1,99,1,0
1,2021-10-09,CC1,4,22,A,2,88,1,0
2,2020-12-26,CC1,2,111,F,3,222,1,0
3,2020-12-27,CC2,1,22,G,4,22,1,0
4,2020-12-28,CC2,4,11000,G,5,44000,0,1
5,2020-12-29,CC3,2,33,S,6,66,1,0
6,2020-12-30,CC3,1,22,S,7,22,1,0
7,2021-10-09,CC4,3,11000,E,8,33000,0,1
8,2021-10-10,CC4,4,33,R,9,132,1,0

In [316]:
#df[df["below_10k_sales"]==1].groupby("region").sum()

In [317]:
df[df["below_10k_sales"]==1].loc[:,["region","below_10k_sales"]].groupby("region").sum()

        below_10k_sales
region
A                     1
E                     1
F                     1
G                     1
R                     1
S                     2

In [318]:
df[df["above_10k_sales"]==1].loc[:,["region","above_10k_sales"]].groupby("region").sum()

        above_10k_sales
region
E                     1
G                     1

In [319]:
#trying the map function
z = pd.Series(map(lambda x,y,z:x*y+z,df["product_quantity"],df["price_per_item"],df["above_10k_sales"]))

In [320]:
print(z)

0       99
1       88
2      222
3       22
4    44001
5       66
6       22
7    33001
8      132
dtype: int64

### Freestyle datframe manipulation practice

#### concat?

In [321]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [322]:
df2 = pd.DataFrame([ ['b', 2],['c', 3], ['d', 4]],columns=['letter', 'number'])
df2

  letter  number
0      b       2
1      c       3
2      d       4

In [323]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      b       2
1      c       3
2      d       4

In [324]:
pd.concat([df1, df2],axis =1)

  letter  number letter  number
0      a     1.0      b       2
1      b     2.0      c       3
2    NaN     NaN      d       4

In [325]:
pd.concat([df1, df2],axis =0,join="outer",ignore_index=True)

  letter  number
0      a       1
1      b       2
2      b       2
3      c       3
4      d       4

In [326]:
pd.concat([df1, df2],axis =0,join="inner",ignore_index=True)

  letter  number
0      a       1
1      b       2
2      b       2
3      c       3
4      d       4

In [327]:
merged = pd.merge(df1, df2, how='inner',left_on='letter', right_on='letter')
merged

  letter  number_x  number_y
0      b         2         2

# Random Functions and Practice that can save your life(jk)

In [1]:
a = ["a","b","   b   ","c"]

In [4]:
b = " ".join(a)
b

'a b    b    c'

In [6]:
c = b.split(" ")
c

['a', 'b', '', '', '', 'b', '', '', '', 'c']

In [9]:
# How remove spaces
x = [y.strip() for y in a ]
x

['a', 'b', 'b', 'c']

In [10]:
z = "  ....grt....,,,bangrtana....rrrrtttttt...."

In [12]:
z.strip(" .,grt")

'bangrtana'