In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import RandomizedSearchCV as RSCV
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import train_test_split

#XGB library
from xgboost import XGBClassifier

In [2]:
df = pd.read_csv("G:\Github\DS-assignments-python\XGBoost (extreme Gradient Boosting)\SalaryData_Train.csv")

In [3]:
df.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
num_col = [i for i in df.columns if df[i].dtype != "O"]
char_col = [i for i in df.columns if df[i].dtype =="O"]

#### as EDA already done in gradient boosting we will directly go for data transormation and model building

In [5]:
dfx = df.copy()

In [6]:
dfx["native"] = pd.Series(np.where(df["native"] != " United-States","Others",df["native"]))
dfx["workclass"] = pd.Series(np.where(df["workclass"] == " Private",df["workclass"],"Others"))
dfx["race"] = pd.Series(np.where((df["race"] == " White") | (df["race"] ==" Black"),df["race"],"Others"))

In [7]:
#lets convert other categories into numerical
dum_dfx = pd.get_dummies(data = dfx,columns = char_col,drop_first = True)

In [8]:
dfx_y = dum_dfx.iloc[:,-1]
dfx_x = dum_dfx.iloc[:,:-1]

In [9]:
print(dfx_x.shape ,len(dfx_y))

(30161, 49) 30161

In [13]:
#prepairing Model
mark1 = XGBClassifier()

In [14]:
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [15]:
# evaluate model
scores = cross_val_score(mark1, dfx_x ,dfx_y, scoring='accuracy', cv=cv, n_jobs=2)

In [18]:
# summarize performance
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.866 (0.006)

In [ ]:
#Preparing cross validation protocols
#cv = KFold(n_splits = 10, random_state = 13 , shuffle = True)